@charset   "UTF-8";
 
* {
  margin: 0;
  padding: 0 ;
  list-style: none;
  text-decoration: none;
}
 
#wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
 
header {
  background: #333;
  color: #FFF;
  padding: 20px;
}
 
.main-menu {
  background: #333;
}
 
.main-menu ul li {
  text-align: center;
}
 
.main-menu ul li a {
  color: #FFF;
  display: block;
  padding: 10px 20px;
}
 
.main-menu ul li a:hover {
  background: #222;
}
.main-menu {
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .8);
  transition: height .5s;
}

#navBtn:checked ~ .main-menu {
  display: block;
  height: 100vh;
}

#navBtn {
  display: none;
}

label {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  text-align: center;
  color: #FFF;
}

section {
  background: #EEE;
  flex: 3;
  padding: 20px;
}
 
article {
  background: #FFF;
  padding: 20px;
  margin-bottom: 20px;  
}
 
aside {
  background: #DDD;
  flex: 1;
}
 
.sub-menu {
  background: #999; 
}
 
.sub-menu ul li {
  text-align: center;
}
 
.sub-menu ul li a {
  color: #FFF;
  display: block;
  padding: 10px 20px;
}
 
.sub-menu ul li a:hover {
  background: #666;
}
 
footer   {
  background: #333;
  color: #FFF;
  padding: 20px;
  text-align: center;
}

.open {
  z-index: 100;
  width: 40px;
  height: 40px;
  border: 1px solid #FFF;
  border-radius: 2px;
}

/*humburger button*/

.open::before,
.open::after {
  content: "";
}

.open span,
.open::before,
.open::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #FFF;
  transition: transform .5s;
}

.open::before {
  transform: translateY(-8px);
}

.open::after {
  transform: translateY(8px);
}

/*close button*/
#navBtn:checked + .open {
  background: #555;
}

#navBtn:checked + .open span {
  transform: scaleX(0);
}

#navBtn:checked + .open::before {
  transform: rotate(45deg);
}

#navBtn:checked + .open::after {
  transform: rotate(-45deg);
}


@media all and (min-width: 600px) {

  .main-menu ul {
    display: flex;
  }

  .main-menu ul li {
    text-align: left;
  }

  main {
    display: flex;
  }

  .sub-menu ul li {
    text-align: left;
  }

}

@media all and (min-width: 1025px) {

  #wrap {
    width: 84%;
    max-width: 1280px;
  }

}

h1 {
  font-size: 2rem;
}

@media all and (min-width: 1025px) {
  h1 {
    font-size: 4rem;
  }
}
html {
  font-size: 10px;
}

